header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--gap-13);
    padding: 0 30px;
    justify-content: space-between;
    background-color: var(--color-grey1);
  
}

main {  
    max-width: 461px;
    margin: 161px auto;
    padding: var(--gap-11) var(--gap-9);
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

h1 {
    font-weight: var(--font-weight-1);
    font-size: var(--font-title-1);
    line-height: var(--font-line-height-title1);
}

.header__logo {
    position: relative;
    /* top:4px; */
    left:var(--gap-4);
    width: 119px;
    height: var(--gap-6);
    color: var(--color-WhiteFixed);
}

.header__login {
    height: var(--gap-7);
    padding: var(--gap-3);
    color: var(--color-WhiteFixed);
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-3);
    line-height: var(--font-line-height-text2);
}

.header__registro {
    width: max-content;
    height: 32px;
    padding: var(--gap-3);
    margin-right: var(--gap-4);
    color: var(--color-WhiteFixed);
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-3);
    line-height: var(--font-line-height-text2);
    border-radius: var(--radius-2);
    background-color: var(--color-grey2);
}

.main__div {
    display: flex;
    justify-content: space-between;
}

.main__inputNome {
    height: var(--input-height-default);
    width: 100%;
    margin-top: var(--gap-9);
    padding-left: var(--gap-9); 
    color: var(--color-grey0);
    border: 2px solid #DEE2E6;
    border-radius: var(--radius-2);
}

.main__inputNome:focus {
    border: 2px solid var(--color-brand-1);
}

.main__inputEmail {
    height: var(--input-height-default);
    width: 100%;
    margin-top: var(--gap-9);
    padding-left: var(--gap-9); 
    color: var(--color-grey0);
    border: 2px solid #DEE2E6;
    border-radius: var(--radius-2);
}

.main__inputEmail:focus {
    border: 2px solid var(--color-brand-1);
}

.main__inputSenha {
    height: var(--input-height-default);
    width: 100%;
    margin-top: var(--gap-9);
    padding-left: var(--gap-9); 
    color: var(--color-grey0);
    border: 2px solid #DEE2E6;
    border-radius: var(--radius-2);
}

.main__inputSenha:focus {
    border: 2px solid var(--color-brand-1);
}

.main__inputTrabalho {
    height: var(--input-height-default);
    width: 100%;
    margin-top: var(--gap-9);
    padding-left: var(--gap-9); 
    color: var(--color-grey0);
    border: 2px solid #DEE2E6;
    border-radius: var(--radius-2);
}

.main__inputTrabalho:focus {
    border: 2px solid var(--color-brand-1);
}

.main__inputImagem {
    height: var(--input-height-default);
    width: 100%;
    margin-top: var(--gap-9);
    padding-left: var(--gap-9); 
    color: var(--color-grey0);
    border: 2px solid #DEE2E6;
    border-radius: var(--radius-2);
}

.main__inputImagem:focus {
    border: 2px solid var(--color-brand-1);
}

.main__buttonRegistrar {
    height: var(--button-height-default);
    width: 100%;
    padding: 0px, var(--gap-5), 0px, var(--gap-5);
    margin-top: 20px;
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-3);
    background-color: var(--color-brand-1);
    border: none;
    color: var(--color-WhiteFixed);
    border-radius: var(--radius-2);
    cursor: pointer;
}

.main__link {
    font-weight: 400;
    font-size: var(--gap-5);
    margin: var(--gap-9) 0;
    line-height: var(--gap-7);
    text-align: center;
    color: #000000;
}

.main__buttonPaginaLogin {
    height: var(--button-height-default);
    width: 100%;
    padding: 0px, var(--gap-5), 0px, var(--gap-5);
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-2);
    background-color: var(--color-WhiteFixed);
    border: 2px solid #0a0c0d;
    color: var(--color-grey0);
    border-radius: var(--radius-2);
    cursor: pointer;
}

@media (min-width: 1024px) {

    header {
        padding: 0 100px;
    }
}