.button-blue{
    height: var(--button-height-default);
    width: max-content;
    padding: 0px, var(--gap-5), 0px, var(--gap-5);
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-3);
    background-color: var(--color-brand-1);
    border: none;
    color: var(--color-WhiteFixed);
    border-radius: var(--radius-2);
    cursor: pointer;
}

.button-black{
  height: var(--button-height-default);
  width: max-content;
  padding: 0px var(--gap-5) 0px var(--gap-5);
  margin-right: 15px;
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-3);
  background-color: var(--color-grey1);
  border: none;
  color: var(--color-WhiteFixed);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.button-white{
  height: var(--button-height-default);
  width: max-content;
  padding: 0px, var(--gap-5), 0px, var(--gap-5);
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-3);
  background-color: var(--color-WhiteFixed);
  border: none;
  color: var(--color-grey1);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.button-disable{
  height: var(--button-height-default);
  width: max-content;
  padding: 0px, var(--gap-5), 0px, var(--gap-5);
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-3);
  background-color: var(--color-grey4);
  border: none;
  color: var(--color-grey3);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.button-mediun {
  height: var(--button-height-medium);
  width: max-content;
  padding: 0 var(--gap-5);
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-2);
  background-color: var(--color-brand-1);
  border: none;
  color: var(--color-WhiteFixed);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.button-blue-litle {
  height: var(--button-height-little);
  width: max-content;
  padding: 0px, var(--gap-5), 0px, var(--gap-5);
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-2);
  background-color: var(--color-brand-3);
  border: 1px solid #4263EB;
  color: var(--color-brand-1);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.button-black-litle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height-little);
  width: 54px;
  padding: 0px, var(--gap-5), 0px, var(--gap-5);
  font-weight: var(--font-weight-2);
  font-size: var(--font-text-2);
  background-color: var(--color-WhiteFixed);
  border: 1px solid #212529;
  color: var(--color-grey1);
  border-radius: var(--radius-3);
  cursor: pointer;
}

