@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body,
header,
nav,
main,
article,
figure,
img,
figcaption,
form,
h1,
h2,
h3,
input,
label,
span,
button,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background: transparent;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    /* Colors */
    --color-brand-1: #4263eb;
    --color-brand-2: #364fc7;
    --color-brand-3: #edf2ff;
    --color-grey0: #0a0c0d;
    --color-grey1: #212529;
    --color-grey2: #495057;
    --color-grey3: #868e96;
    --color-grey4: #dee2e6;
    --color-grey-opacity-1: rgba(33, 37, 41, 0.5);
    --color-WhiteFixed: #ffffff;
    --color-like: #d7443e;

    /* Size Elements */
    --button-height-default: 38px;
    --button-height-medium: 28px;
    --button-height-little: 28px;

    --input-height-default: 52px;
    --input-height-textarea: 130px;

    --modal-height-defaul: 292px;

    --container-width: 1200px;

    /*  Text Sizes */
    --font-title-1: 28px;
    --font-title-2: 20px;
    --font-text-1: 16px;
    --font-text-2: 14px;
    --font-text-3: 12px;
    --font-line-height-title1: 40px;
    --font-line-height-title2: 24px;
    --font-line-height-text1: 28px;
    --font-line-height-text2: 16px;
    --font-line-height-text3: 16px;

    /*  Text Weight */
    --font-weight-1: 700;
    --font-weight-2: 600;
    --font-weight-3: 400;

    /*  Border Radius */
    --radius-1: 8px;
    --radius-2: 4px;
    --radius-3: 2px;
    --radius-4: 50%;

    /* Gap */

    --gap-1: 2px;
    --gap-2: 6px;
    --gap-3: 8px;
    --gap-4: 10px;
    --gap-5: 12px;
    --gap-6: 14px;
    --gap-7: 16px;
    --gap-8: 18px;
    --gap-9: 20px;
    --gap-10: 30px;
    --gap-11: 40px;
    --gap-12: 60px;
    --gap-13: 80px;

}
