.input-default {
    height: var(--input-height-default);
    width: 297px;
    max-width: 100%;
    padding: 16px, 20px, 16px, 20px;
    background-color: var(--color-WhiteFixed);
    border: 2px solid #DEE2E6;
    color: var(--color-grey1);
    border-radius: var(--radius-3);
}

.input-default:focus {
    color: var(--color-brand-1);
}

.input-textarea {
    height: var(--input-height-textarea);
    width: 300px;
    max-width: 100%;
    padding: 28px, 21px, 29px, 21px;
    background-color: var(--color-WhiteFixed);
    border: 2px solid #DEE2E6;
    color: var(--color-grey1);
    border-radius: var(--radius-2);
}

.input-textarea:focus {
    color: var(--color-brand-1);
}