.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appearFromTopLeft 1s;
}

.modal__flex__btn {
    display: flex;
    align-self: end;
}

.modal__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.modal__text__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;  
}
.modal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-4);
    background-color: #F8F9FA;
    padding: 0px, 12px, 0px, 12px;
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-2);
    line-height: var(--font-line-height-text3);
    color: #212529;
}

.modal__mensagem {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 188px;
    width:90%;
    max-width: 600px;
    padding: 10px;
    border-radius: var(--radius-1);
    background-color: var(--color-WhiteFixed);
}

.modal-user {
    display: flex;
    justify-content: space-between;
}

.disappear {
    animation: disappearTopLeft 1s;
}


.modal__mensagem > h2 {
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-1);
    line-height: 19px;
    color: var(--color-WhiteFixed);
}

.modal__mensagem > p {
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-2);
    line-height: var(--font-line-height-title2);
    color: var(--color-WhiteFixed);
}

/*Animações*/

@keyframes appearFromTopLeft {
    0% {
        opacity: 0;
        transform: translate(-30%, -30%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);

    }
}

@keyframes disappearTopLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
    100% {
        opacity: 0;
        transform: translate(-30%, -30%);
    
    }
}
