main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    height: 18rem;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    background-color: var(--blue);
}

.container__form__login > h1 {
    color: var(--white);
    -webkit-text-stroke: 1px var(--black);
} 

.container__form__login > input {
    border: 1px solid var(--grey);
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: var(--white);
}

.container__form__login > button {
    border: none;
    width: 9rem;
    height: 2rem;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--darkGray);
    cursor: pointer;
}

.container__form__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    height: 20rem;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    margin-top: 5rem;
}

.container__form__cadastro h2{
    color: var(--white);
    -webkit-text-stroke: 1px var(--black);
    font-size: 2rem;
}

.container__form__cadastro > input {
    border: 1px solid var(--grey);
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: var(--white);
}

.container__form__cadastro > button {
    border: none;
    width: 9rem;
    height: 2rem;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--darkGray);
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1023px){

    .container__form__login {
        width: 760px;
    }

    .container__form__login > input {
        width: 300px;
    }

    .container__form__cadastro {
        width: 760px;
    }

    .container__form__cadastro > input {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        height: 700px;
    }

    .imgHeader {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .container__form__login {
        width: 350px;
        height: 340px;
    }

    .container__form__cadastro {
        width: 350px;
        height: 450px;
    }
}