@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-primary: #4529e6;
    --color-grey-1: #0B0D0D;
    --color-grey-2: #495057;
    --color-grey-3: #F1F3F5;

    --font-family-1: "IBM Plex Sans", sans-serif;
    --font-family-2: "Inter", sans-serif;

    --font-title-1: 32px;
    --font-text-1: 20px;
}

.container {
  width: 800px;
  margin: 0 auto;
}


