.Overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Modal {
  position: absolute;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #142518;

  border: 1px solid black;

  min-width: 310px;
  max-width: 393px;
  width: 27.291vw;
  height: 555px;

  border-radius: 10px;
}

.containerButtonClose {
  display: flex;

  justify-content: end;

  min-width: 250px;
  max-width: 393px;
  width: 23.125vw;

  margin-bottom: 5px;
}

.buttonClose {
  background: transparent;
  border: none;

  padding-right: 20px;

  font-size: 25px;
}

.buttonClose:hover {
  color: #1f211f;

  cursor: pointer;
}

.containerForm {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;

  min-width: 250px;
  max-width: 90%;
  width: 23vw;
  height: 465px;

  background: #141414;

  border-radius: 10px;
}

.public {
  color: white;
  font-size: 20px;
}

.formStyle {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;
}

input {
  display: flex;
  padding-left: 5px;

  min-width: 203px;
  max-width: 280px;
  width: 19.444vw;
  height: 40px;

  border: none;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.buttonSubmit {
  min-width: 203px;
  max-width: 285px;
  width: 19.791vw;

  height: 40px;

  border: none;

  background-color: #142518;
  color: white;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.buttonSubmit:hover {
  filter: brightness(1.2);

  cursor: pointer;
}
