body {
    font-family: "Poppins", sans-serif;
}



header {
    text-align: center;
    padding: 15px;
    font-weight: 600;
    background: #ffffff;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}



main {
    margin: 0px 11px;
}



.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#botoesContainer {
    display: flex;
    margin-bottom: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.estiloGeralBotoes {
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background: rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 500;
    color: #12b886;
    font-size: 0.9rem;
    margin-right: 10px;
    width: 148px;
}

.estiloGeralBotoes--filter:hover {
    background-color: #12b886;
    color: #ffffff;
    transition: ease-in-out 0.2s;
}

#botao-busca {
    width: 50px;
}

.botoesClickStyle {
    background-color: #12b886;
    color: #ffffff;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border: none;
    padding: 0 10px;
    background: #f1f3f5;
    border-radius: 8px;
    margin-right: 5px;
    width: 280px;
    color: #515252;
    font-weight: 400;
}
#botaoPesquisa {
    width: 50px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #12b886;
    border: 1.5px solid #12b886;
    border-radius: 8px;
}

#botao-todos-produtos {
    color: #fff;
    background-color: #12b886;
}



.priceContainer {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px; */
    display: none;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}



.containerVitrine {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 50px 0;
    margin-bottom: 10px;
}

.container-section-carrinho {
    display: flex;
    justify-content: center;
}

.containerListaProdutos {
    width: 100%;
    overflow-x: scroll;
}


.containerListaProdutos ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.containerListaProdutos ul li {
    border-radius: 8px;
    transition: ease-in-out 0.1s;
    width: 212px;
    margin-bottom: 30px;
}

.container-li {
    padding-bottom: 20px;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
    width: 100%;
}

.containerListaProdutos ul li h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 15px;
    color: #212529;
}

.containerListaProdutos ul li p {
    font-size: 0.7rem;
    color: #868e96;
    font-weight: 400;
    margin: 10px 0;
}
.containerListaProdutos ul li span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    color: #212529;
}
.containerListaProdutos ul li ol {
    list-style: decimal;
    color: #868e96;
    font-size: 12px;
    margin-left: 15px;
}
.containerListaProdutos ul li ol li {
    margin: 0;
    width: 100%;
}
.containerListaProdutos ul li button {
    background-color: #12b8860d;
    border-radius: 8px;
    border: #12b8860d 1px solid;
    color: #12b886;
    padding: 5px;
    transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
    background-color: #12b886;
    border: #12b886 1px solid;
    color: white;
}
.containerListaProdutos ul li div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.container-carrinho {
    width: 350px;
}
.container-header-carrinho {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: 42px;
    background-color: #12b886;
    color: #fff;
}

.imagem-header-carrinho {
    padding: 0px 15px;
}

.container-lista-carrinho {
    margin-top: 10px;
    width: 300px;
}


.container-card-imagem-carrinho {

    width: 60px;
    height: 60px;
    background-color: #fff;
}

.container-item-carrinho {
    display: flex;
    padding-top: 10px;
}

.container-descricao-produto-carrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    width: 270px;
}


.container-footer-carrinho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    background-color: #292929;
    color: #fff;   
    margin-top: 20px; 
}

.container-total-carrinho {
    padding-bottom: 30px;
}

@media (min-width: 1024px) {

    body {
        font-family: "Poppins", sans-serif;
    }

    header {
        text-align: center;
        padding: 15px;
        font-weight: 600;
        background: #ffffff;
        box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
    }

    main {
        margin: 0 70px;
    }

    .filtersContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    #botoesContainer {
        display: flex;
    }

    .estiloGeralBotoes {
        border: 1.5px solid rgba(18, 184, 134, 0.05);
        background: rgba(18, 184, 134, 0.05);
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: 500;
        color: #12b886;
        font-size: 0.9rem;
        margin-right: 10px;
    }

    .estiloGeralBotoes--filter:hover {
        background-color: #12b886;
        color: #ffffff;
        transition: ease-in-out 0.2s;
    }

    .botoesClickStyle {
        background-color: #12b886;
        color: #ffffff;
    }

    .containerBuscaPorNome {
        display: flex;
        justify-content: space-between;
    }

    .campoBuscaPorNome {
        border: none;
        padding: 0 10px;
        background: #f1f3f5;
        border-radius: 8px;
        margin-right: 5px;
        width: 250px;
        color: #515252;
        font-weight: 400;
    }

    .estiloGeralBotoes--botaoBuscaPorNome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        gap: 10px;
        background: #12b886;
        border: 1.5px solid #12b886;
        border-radius: 8px;
    }

    .priceContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        border: 1px solid #ffffff;
        box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 10px 20px;
    }

    .priceContainer div {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .priceContainer div img {
        width: 2rem;
    }

    .priceContainer span {
        background-color: #212529;
        border-radius: 4px;
        color: #fff;
        padding: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }

    .container-vitrine-carrinho {
        display: flex;
    }

    .containerVitrine {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        border-radius: 50px 0;
    }

    .containerListaProdutos {
        width: 100%;
    }

    .containerListaProdutos ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        width: 90%;
    }

    .containerListaProdutos ul li {
        border-radius: 8px;
        transition: ease-in-out 0.1s;
        width: calc(95% / 4);
        margin-bottom: 30px;
    }

    .containerListaProdutos ul li:hover {
        box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    }

    .containerListaProdutos ul li img {
        width: 100%;
    }

    .containerListaProdutos ul li h3 {
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 15px;
        color: #212529;
    }

    .containerListaProdutos ul li p {
        font-size: 0.7rem;
        color: #868e96;
        font-weight: 400;
        margin: 10px 0;
    }
    .containerListaProdutos ul li span {
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 10px;
        display: inline-block;
        color: #212529;
    }
    .containerListaProdutos ul li ol {
        list-style: decimal;
        color: #868e96;
        font-size: 12px;
        margin-left: 15px;
    }
    .containerListaProdutos ul li ol li {
        margin: 0;
        width: 100%;
    }
    .containerListaProdutos ul li button {
        background-color: #12b8860d;
        border-radius: 8px;
        border: #12b8860d 1px solid;
        color: #12b886;
        padding: 5px;
        transition: 0.5s;
    }
    .containerListaProdutos ul li button:hover {
        background-color: #12b886;
        border: #12b886 1px solid;
        color: white;
    }
    .containerListaProdutos ul li div {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .container-carrinho-titulo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        margin-top: 40px;
        background-color: #12b886;
        color: #fff;
        border-radius: 12px 12px 0px 0px;
    }

    .container-header-carrinho {
        display: flex;
        height: 60px;
        width: 100%;
    }

    .imagem-header-carrinho {
        margin: 0px 10px 0px 20px;
    }

    .container-lista-carrinho {
        background-color: #fafafa;
        padding: 30px 0 30px 40px;
        width: 100%;
    }

    .container-item-carrinho {
        display: flex;
        padding-top: 20px;
    }

    .container-card-imagem-carrinho {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .container-descricao-produto-carrinho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
    }

    .container-nome-item-carriho {
        font-size: 15px;
        font-weight: bold;
    }

    .container-valor-carrinho {
        font-size: 15px;
        font-weight: bold;
    }

    .container-rmvCarrinho {
        margin-right: 20px;
    }

    .container-rmvCarrinho:hover {
        color: #12b886;
    }

    .container-footer-carrinho {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 130px;
        background-color: #292929;
        color: #fff;
    }

    .container-total-carrinho {
        padding-bottom: 30px;
    } 
}