header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--gap-60);
}

.header__logo {
    width: 120px;
    height: 90px;
}

header > a {
    color: var(--color-white);
    margin-right: -30px;
}

body {
    background-color: var(--color-secundary);
    display: flex;
    justify-content: center;
}

main {
    height: 597px;
    max-width: 500px;
    width: 100%;
    background-color: var(--color-white);
    margin: var(--gap-150) var(--gap-10) var(--gap-50) var(--gap-10);
    border-radius: var(--gap-30);
}

/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--gap-10);
} */

h1 {
    text-align: center;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-36);
    line-height: var(--font-line-height-61);
    margin: var(--gap-40) 0 var(--gap-10) 0;

}

.section__saudacao {
    text-align: center;
    font-weight: var(--font-weight-450);
    font-size: var(--font-size-18);
    line-height: var(--font-line-height-12);
    color: var(--color-grey0);
    margin-bottom: var(--gap-40);
}

.section__texto__senha {
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-18);
    line-height: var(--font-line-height-12);
    text-align: center;
    color: var(--color-grey0);
    margin-bottom: var(--gap-20);
}

.section__texto__senha:hover {
    color: var(--color-primary)
}

