@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

:root{
  /* Colors */
  --color-primary: #364FC7;
  --color-secondary:#212529;
  --color-grey-1: #868E96;
  --color-grey-2: #ADB5BD;
  --color-grey-3: #E9ECEF;
  --color-grey-4: #F1F3F5;
  --color-grey-5: #F8F9FA;
  --color-grey-6: #FFFFFF;
  
  /* Size Elements */
  --button-height-default: 48px;
  --button-height-medium: 40px;
  --button-height-little: 32px;
  --container-width: 1200px;
  
  /*  Text Sizes */
  --font-title-1: 48px;
  --font-title-2: 38px;
  --font-title-3: 28px;
  --font-title-4: 18px;
  --font-text-1: 16px;
  --font-text-2: 14px;
  --font-text-3: 12px;

  /*  Text Weight */
  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;
  
  /*  Border Radius */
  --radius-1: 4px;
  --radius-2: 8px;

  /* Gap */
  --gap-1: 16px; 
  --gap-2: 20px; 
  --gap-3: 24px;
  --gap-4: 28px;
  --gap-5: 32px;

}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
