/** Introdução ao CSS **/
/** Tipos de estilo **/
styles {
  inline: style; /*sou aplicado na tag HTML*/
  internal: style sheet; /*sou aplicado dentro da tag style no HTML*/
  external: style sheet; /*sou aplicado em um arquivo externo e me conecto por link*/
}
/** Tipos de seletores **/
*universais {
    /*aplico estilo para todos os elementos*/
}
tag {
    /*aplico estilo na tag selecionado*/
}
.class {
    /*aplico estilo diretamente na classe*/
}
#id {
    /*aplico estilo diretamente no id*/
}
[atributo] {
    /*aplico estilo diretamente no atributo*/
}
/** Aplicando CSS a elementos HTML **/
propriedades {
    color: palavra, #hexadecimal, rgb();
    background: cor;
    shadow: px, rgba;
    border: cor;
    opacity: valor;
}
/** Unidades de medidas CSS mas usadas  **/
unidades-absolutas {
    unidade: px;
}
unidades-relativas {
    porcentagem: %;
    font-size: em & rem;
    viewport:vw & vh;
    viewport-max: vmax;
    viewport-min: vmin;
}




